/* Gameserver Type */
.gameserver-type-section{
    margin-top: -#{map-get( $spacers, 3 )};
    position: relative;
    overflow: hidden;

    &:before{
        @include top-triangle( $color3 );
    }

    &:after{
        @include bottom-triangle( $color3 );
    }

    .section-header{
        margin-bottom: map-get( $spacers, 3 );
    }

    .col-12{
        @include media-breakpoint-down(md){
            margin-bottom: map-get( $spacers, 2 );
        }
    }

    .gameserver-type-inner{
        padding: map-get( $spacers, 3 ) 0;
        background-color: $color3;
    }

    .gameserver-type-item{
        height: 100%;
        padding: map-get( $spacers, 2 );
        text-align: center;
        cursor: pointer;
        @extend %gradient-background;
        @extend %transition-all;

        &:hover{
            transform: translateY(-5%);
        }

        .image-wrapper{
            min-height: rem(128);
            margin-bottom: map-get( $spacers, 2 );

            img{
                min-width: rem(128);
                height: auto;
            }
        }

        h2{
            color: $color-white;
            font-family: $font;
            text-align: center;
        }
    }
}