/* Image Banner */
.image-banner{
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;


    &:before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba( $color3, 0.6 );
        z-index: 996;
    }
    
    &.full-height{
        height: 100vh;
    }

    .image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .image-text-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 997;

        .image-text{
            padding: map-get( $spacers, 2 );

            @include media-breakpoint-down(md){
                max-width: rem(400);
            }

            .heading{
                font-family: $font;
                color: $color-white;
                text-align: center;
                font-size: rem( 72 );

                @include media-breakpoint-down(md){
                    font-size: rem( 48 );
                }
            }
        }
    }
}