/* Why Warden */
.plans-include-section{
    position: relative;
    margin-top: -#{map-get( $spacers, 3 )};
    padding-bottom: 0 !important;
    overflow: hidden;

    &:before{
        @include top-triangle( $color3 );
    }

    .plans-include-inner{
        padding-top: map-get( $spacers, 3 );
        background-color: $color3;
    }

    .section-header{
        color: $color-white;
    }

    .plans-include-item{
        height: 100%;
        padding: map-get( $spacers, 2 );
        text-align: center;
        @extend %gradient-background;

        .icon{
            max-height: rem( 128 );
            max-width: rem( 128 );
            margin: 0 auto;
            margin-bottom: map-get( $spacers, 2 );

            img{
                width: 100%;
                height: auto;
            }
        }

        h2{
            font-family: $font;
            color: $color-white;
        }

        .description{
            p{
                font-family: $font2;
                color: $color-white;
                font-size: rem( 18 );
            }
        }
    }
}

@keyframes fly-in{
    to{
        transform: translateX(0);
    }
}