/* Footer */
#footer{
    padding-top: map-get( $spacers, 3 );
    padding-bottom: map-get( $spacers, 3 );
    background-color: $color3;
    background-image: url(/static/images/logo-transparent.svg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: rem( 500 );

    @include media-breakpoint-down(sm){
        padding-top: map-get( $spacers, 3 );
        padding-bottom: map-get( $spacers, 3 );
    }

    .quick-links-row{
        margin-bottom: map-get( $spacers, 3 );
    }

    .copyright-row{
        p{
            font-size: rem( 14 );
            color: $color-white;
        }

        .site-name{
            color: $color1;
        }
    }

    .footer-column-item{
        .footer-title{
            font-family: $font;
            font-size: rem( 28 );
            color: $color-white;
        }

        .footer-navigation{
            list-style: none;
            padding-left: 0;
            
            li{
                a{
                    font-size: rem( 14 );
                    color: $color-white;
                    @extend %transition-all;
                    
                    &:hover{
                        color: $color1;
                    }
                }
            }
        }
    }
}