/* Header */
#header{
    position: fixed;
    width: 100%;
    z-index: 998;
    @extend %transition-all;

    &.vue-fixed-header--isFixed, &.mobile-active{
        background-color: rgba( $color3, 0.8 );
        
        .navigation-menu{
            > ul{
                > li{
                    a{
                        padding: map-get( $spacers, 2 )+rem( 10 ) map-get( $spacers, 2 );
                    }
                }
            }
        }
    }

    .logo{
        margin-right: map-get( $spacers, 3 );

        @include media-breakpoint-down(sm){
            margin-right: 0;
        }

        @include media-breakpoint-up(md){
            &:hover{
                img{
                    transform: translateX(30%);
                }
            }
        }

        img{
            margin-right: map-get( $spacers, 2 );
            @extend %transition-all;
        }

        .logo-title{
            display: block;
            font-size: rem( 36 );
            font-family: $font;

            @include media-breakpoint-down(sm){
                display: none;
            }
        }
    }

    .navigation-menu{
        @include media-breakpoint-down(md){
            &.main-navigation{
                display: none;
                order: 3;
            }

            &.secondary-navigation{
                margin-right: auto;
            }
        }

        &.mobile-navigation-menu{
            position: absolute;
            top: 100%;
            display: none;
            width: 100%;
            background-color: rgba( $color3, 0.8 );

            &.active{
                display: block;
            }

            ul{
                width: 100%;

                li{
                    width: 100%;
                    text-align: center;
                    padding: 0;

                    a{
                        padding: map-get( $spacers, 2 );
                    }

                    &:hover{
                        a{
                            color: $color1;
                        }
                    }
                }
            }
        }

        > ul{
            list-style: none;
            margin-bottom: 0;
            padding-left: 0;

            > li{
                position: relative;
                margin-bottom: 0;

                &:hover{
                    > a{
                        color: $color1;
                        background-color: rgba( $color3, 0.8 );
                        opacity: 1;
                    }

                    > .sub-navigation{
                        display: block;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        opacity: 1;
                    }
                }

                &:last-child{
                    margin-right: 0;
                }

                a{
                    display: block;
                    padding: map-get( $spacers, 3 ) map-get( $spacers, 2 );
                    color: $color-white;
                    font-family: $font;
                    font-size: rem( 28 );
                    margin-bottom: 0;
                    @extend %transition-all;
                }

                .sub-navigation{
                    display: none;
                    width: 100%;
                    list-style: none;
                    background: rgba( $color3, 0.8 );
                    margin-top: 0;
                    padding-left: 0;
                    @extend %transition-all;
                    
                    li{
                        margin-bottom: 0;

                        a{
                            padding: map-get( $spacers, 2 );
                            font-size: rem( 24 );

                            &:hover{
                                color: $color1;
                            }
                        }
                    }
                }
            }
        }
    }

    .main-navigation-mobile-trigger{
        display: flex;
        align-items: center;
        width: rem(32);
        height: rem(32);
        
        &:hover{
            opacity: 1;
        }

        @include media-breakpoint-up(lg){
            display: none;
        }

        span{
            position: relative;
            display: block;
            width: 100%;
            height: rem(3);
            background-color: $color-white;
            font-size: 0;

            &:before, &:after{
                content: '';
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                height: rem(3);
                background-color: $color-white;
            }

            &:before{
                top: rem(10);
            }

            &:after{
                top: rem(-10);
            }
        }
    }
}