// Mixins
// ===========================================
@mixin content-tags {
    h1, h2, h3, h4, h5, h6, a, p, ul, ol {
        @content;
    }
}

@mixin top-triangle( $color: $color3 ){
    position: absolute;
    content: '';
    bottom: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-right: calc( 100vw - 17px ) solid transparent;
    border-left: rem(0) solid transparent;
    border-bottom: rem(50) solid $color;
}

@mixin bottom-triangle( $color: $color3 ){
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-right: rem(0) solid transparent;
    border-left: calc( 100vw - 17px ) solid transparent;
    border-bottom: rem(50) solid $color;
}