// Variables
// ===========================================

// Font
$font: 'Bebas Neue', sans-serif;
$font2: 'Open Sans', sans-serif;
$font-size-base: 16;
$font-line-height: 20;

// Width(s) / Height(s)
$wrapper-default: 1440px;

// Default colours
$color1: #37b8cd;
$color2: #2da9d8;
$color3: #2a2b2d;
$color4: red;
$color5: #8FD794;
$color6: #67CB7B;
$color7: #1C54A0;
$color8: #1546C9;
$color9: #E18C7D;
$color10: #ED804C;
$color11: #E8534D;
$color12: #E53B47;
$color-white: #ffffff;
$color-black: #000000;

// Update the Bootstrap Breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 460px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    xxl: 1600px
);

// Spacing
$spacer: rem(40);
$spacers: ();
$spacers: map-merge(
    (
        0: 0,
        1: ($spacer * .25),                 //10px
        2: ($spacer * .5),                  //20px
        3: $spacer,                         //40px
        4: ($spacer + ( $spacer * .5)),     //60px
        5: ($spacer * 2),                   //80px
        6: ($spacer * 3),                   //120px
    ),
    $spacers
);

// Base sizing
$content-space-base: 30;
$content-space-base-x2: 60;
$content-space-base-half: 15;
$content-space: #{$content-space-base}px;
$content-space-x2: #{$content-space-base}px;

// Transition defaults
$transition-base-speed: .2s;

// Placeholders
%transition-all{
    transition: $transition-base-speed all ease-in-out;
}

%gradient-background{
    background-image: -moz-linear-gradient(90deg, rgba($color1,1) 0%, rgba($color2,1) 100%);
    background-image: -webkit-linear-gradient(90deg, rgba($color1,1) 0%, rgba($color2,1) 100%);
    background-image: linear-gradient(90deg, rgba($color1,1) 0%, rgba($color2,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1,endColorstr=$color2,GradientType=1);
}

%gradient-background-green{
    background-image: -moz-linear-gradient(90deg, rgba($color5,1) 0%, rgba($color6,1) 100%);
    background-image: -webkit-linear-gradient(90deg, rgba($color5,1) 0%, rgba($color6,1) 100%);
    background-image: linear-gradient(90deg, rgba($color5,1) 0%, rgba($color6,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color5,endColorstr=$color6,GradientType=1);
}

%gradient-background-purple{
    background-image: -moz-linear-gradient(90deg, rgba($color7,1) 0%, rgba($color8,1) 100%);
    background-image: -webkit-linear-gradient(90deg, rgba($color7,1) 0%, rgba($color8,1) 100%);
    background-image: linear-gradient(90deg, rgba($color7,1) 0%, rgba($color8,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color7,endColorstr=$color8,GradientType=1);
}

%gradient-background-orange{
    background-image: -moz-linear-gradient(90deg, rgba($color9,1) 0%, rgba($color10,1) 100%);
    background-image: -webkit-linear-gradient(90deg, rgba($color9,1) 0%, rgba($color10,1) 100%);
    background-image: linear-gradient(90deg, rgba($color9,1) 0%, rgba($color10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color9,endColorstr=$color10,GradientType=1);
}

%gradient-background-red{
    background-image: -moz-linear-gradient(90deg, rgba($color11,1) 0%, rgba($color12,1) 100%);
    background-image: -webkit-linear-gradient(90deg, rgba($color11,1) 0%, rgba($color12,1) 100%);
    background-image: linear-gradient(90deg, rgba($color11,1) 0%, rgba($color12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color11,endColorstr=$color12,GradientType=1);
}